[Unit]
Description=CubingProAPI
After=rc-local.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
LimitCORE=infinity
ExecStart=/usr/local/bin/cubing-pro api --config /etc/cubing_pro/config.yaml
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
